.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;

  height: 2.6875rem;
  background-color: var(--brand-color-500);
  color: var(--semantic-white);

  address {
    font-style: normal;
    margin-left: 0.2rem;
  }
}
