.container {
  .title {
    margin: 0;
  }

  .message {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
